* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
}

/* NAVBAR */
.nav {
  position: fixed;
  top: 0;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.nav.active {
  background-color: #111;
}

.nav_logo {
  width: 120px;
  object-fit: contain;
}

.nav_avatar {
  width: 35px;
  object-fit: contain;
  margin-right: 15px;
  border-radius: 4px;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 15px;
}


.nav_button {
  padding: 8px 16px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
  cursor: pointer;
  z-index: 9999;
}

.nav_button:hover {
  background-color: #f40612;
}